@import url("https://fonts.googleapis.com/css2?family=Poppins");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

/*General*/
.section {
  display: flex;
  margin: 25px 0;
}

.section__icon {
  width: 40px;
}
.section__title {
  font-family: "Staatliches", cursive;
  margin: 0 0 0 15px;
}


/*Trending*/
.trending {
  background: linear-gradient( 337deg, rgba(231, 204, 249, 1) 0%, rgba(251, 160, 33, 1) 100% );
  padding: 30px 0;
  margin: 20px 0;
}

/* =========== Genre ==================== */
.btn-genre {
  color: black;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  margin: 0px 20px 16px 0px;
  background-color: #dceefc;
  padding: 10px 20px;
  border-radius: 20px;
  border: 0;

  transition: background-color 0.25s;
}
.btn-genre:hover {
  background-color: #72bdf8;
  text-decoration: none;
}

.genre__content {
  display: flex;
  justify-content: center;
  margin: 30px 0 30px 0;
}

/* =============== 2. COMPONENT: CAROUSEL ===============*/
/* =============== 3. COMPONENT: CAROUSEL ===============*/



/* =============== 4. SHOW TIME ===============*/

.showTime {
  /*padding-top: 120px;*/
  /*padding-bottom: 120px;*/
}

.showTime .showTime__content .showTime__detail .left-content .list-group {
  border: 1px solid #dedfe0;
}

.showTime
.showTime__content
.showTime__detail
.left-content
.list-group
.list-group-item {
  padding: 20px;
  width: 90px;
  border: none;
  margin: 0 auto;
}

.showTime
.showTime__content
.showTime__detail
.left-content
.list-group
.list-group-item
img {
  width: 50px;
  height: 50px;
}

.showTime
.showTime__content
.showTime__detail
.left-content
.list-group
.list-group-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: calc(100% - 40px);
  transform: translateX(-50%);
  border-bottom: 1px solid #fff;
  border-color: rgba(238, 238, 238, 0.88);
}

.showTime
.showTime__content
.showTime__detail
.middle-content
.showTime__detail-2 {
  border: 1px solid #dedfe0;
  min-height: 630px;
}

.showTime
.showTime__content
.showTime__detail
.middle-content
.showTime__detail-2
.showTime__items-left-2 {
  padding-right: 0 !important;
  border-right: 1px solid #dedfe0 !important;
}

.showTime
.showTime__content
.showTime__detail
.middle-content
.showTime__detail-2
.showTime__items-left-2
.showTime__sublist {
  border: none !important;
  cursor: pointer;
}

.showTime
.showTime__content
.showTime__detail
.middle-content
.showTime__detail-2
.showTime__items-left-2
.showTime__sublist
img {
  width: 50px;
  height: 50px;
}

.showTime
.showTime__content
.showTime__detail
.middle-content
.showTime__detail-2
.showTime__items-left-2
.showTime__sublist::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: calc(100% - 40px);
  transform: translateX(-50%);
  border-bottom: 1px solid #fff;
  border-color: rgba(238, 238, 238, 0.88);
}

.showTime
.showTime__content
.showTime__detail
.middle-content
.showTime__detail-2
.showTime__items-left-2
.showTime__sublist
.movieCinema {
  color: black;
  margin-left: 15px;
}

.showTime
.showTime__content
.showTime__detail
.middle-content
.showTime__detail-2
.showTime__items-left-2
.showTime__sublist
.movieCinema
span {
  display: block;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  color: #949494;
  white-space: nowrap;
  line-height: 1.4;
}

.showTime
.showTime__content
.showTime__detail
.middle-content
.showTime__items-right-2 {
  border: none;
  padding-right: 0 !important;
  max-height: 630px;
  overflow-y: scroll;
}

.showTime
.showTime__content
.showTime__detail
.middle-content
.showTime__items-right-2::-webkit-scrollbar {
  width: 5px;
  background-color: #dedfe0;
}

.showTime
.showTime__content
.showTime__detail
.middle-content
.showTime__items-right-2::-webkit-scrollbar-thumb {
  background-color: #a1a7b3;
  border-radius: 50px;
}

.showTime
.showTime__content
.showTime__detail
.middle-content
.showTime__items-right-2
.tab-content
.tab-pane
.showTime__movie {
  float: left;
  clear: both;
  padding-bottom: 17px;
  padding-top: 20px;
  padding-right: 15px;
  padding-left: 20px;
  width: 100%;
  position: relative;
  margin-bottom: 0;
  border: none;
}

.showTime
.showTime__content
.showTime__detail
.middle-content
.showTime__items-right-2
.tab-content
.tab-pane
.showTime__movie::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: calc(100% - 40px);
  transform: translateX(-50%);
  border-bottom: 1px solid #fff;
  border-color: rgba(238, 238, 238, 0.88);
}

.showTime
.showTime__content
.showTime__detail
.middle-content
.showTime__items-right-2
.tab-content
.tab-pane
.showTime__movie
.showTime__movie-panel
.showTime__movie-pane-top
img {
  width: 50px;
  float: left;
  height: 50px;
  object-fit: cover;
}

.showTime
.showTime__content
.showTime__detail
.middle-content
.showTime__items-right-2
.tab-content
.tab-pane
.showTime__movie
.showTime__movie-panel
.showTime__movie-pane-top
.showTime__movie-pane-top-info {
  width: 100%;
  padding-left: 65px;
  padding-top: 6px;
}

.showTime
.showTime__content
.showTime__detail
.middle-content
.showTime__items-right-2
.tab-content
.tab-pane
.showTime__movie
.showTime__movie-panel
.showTime__movie-pane-top
.showTime__movie-pane-top-info
.showTime__movie-pane-top-info-name {
  margin: 0;
  line-height: 1.7;
  font-size: 12px;
  color: #9b9b9b;
}

.showTime
.showTime__content
.showTime__detail
.middle-content
.showTime__items-right-2
.tab-content
.tab-pane
.showTime__movie
.showTime__movie-panel
.showTime__movie-pane-top
.showTime__movie-pane-top-info
.showTime__movie-pane-top-info-name
.showTime__movie-pane-top-info-brand {
  background-color: #fb4226;
  color: #fff;
  border-radius: 4px;
  padding: 0 5px;
  float: left;
  margin-right: 5px;
  font-size: 12px;
  min-width: 33px;
  text-align: center;
  font-weight: 700;
}

.showTime
.showTime__content
.showTime__detail
.middle-content
.showTime__items-right-2
.tab-content
.tab-pane
.showTime__movie
.showTime__movie-panel
.showTime__movie-pane-top
.showTime__movie-pane-top-info
.showTime__movie-pane-top-info-name
.showTime__movie-pane-top-info-title {
  font-size: 14px;
  display: block;
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #000;
}

.showTime
.showTime__content
.showTime__detail
.middle-content
.showTime__items-right-2
.tab-content
.tab-pane
.showTime__movie
.showTime__movie-panel
.showTime__movie-pane-top
.showTime__movie-pane-top-info
.showTime__movie-pane-top-info-name-detail {
  margin: 0;
  line-height: 1.7;
  font-size: 12px;
  color: #9b9b9b;
}

.showTime
.showTime__content
.showTime__detail
.middle-content
.showTime__items-right-2
.tab-content
.tab-pane
.showTime__movie
.showTime__movie-panel
.showTime__movie-pane-bottom {
  float: left;
  clear: both;
  width: 100%;
  transition: height 0.3s ease-in-out;
}

.showTime
.showTime__content
.showTime__detail
.middle-content
.showTime__items-right-2
.tab-content
.tab-pane
.showTime__movie
.showTime__movie-panel
.showTime__movie-pane-bottom
.showTime__movie-pane-bottom-time {
  float: left;
  width: 100%;
  padding-top: 15px;
}

.showTime
.showTime__content
.showTime__detail
.middle-content
.showTime__items-right-2
.tab-content
.tab-pane
.showTime__movie
.showTime__movie-panel
.showTime__movie-pane-bottom
.showTime__movie-pane-bottom-time
.showTime__movie-pane-bottom-time-list-ver {
  float: left;
  width: 100%;
  font-size: 16px;
  color: #000;
  margin-bottom: 5px;
}

.showTime
.showTime__content
.showTime__detail
.middle-content
.showTime__items-right-2
.tab-content
.tab-pane
.showTime__movie
.showTime__movie-panel
.showTime__movie-pane-bottom
.showTime__movie-pane-bottom-time
.showTime__movie-pane-bottom-time-sessions
.showTime__movie-pane-bottom-time-sessions-link {
  width: calc(25% - 10px);
  float: left;
  font-size: 14px;
  font-weight: 400;
  margin: 0 10px 10px 0;
  padding: 5px 0;
  transition: all 0.2s;
  text-decoration: none;
  display: block;
  text-align: center;
  background-color: rgba(246, 246, 246, 0.5);
  border-radius: 7px;
  color: #9b9b9b;
  border: 1px solid #e4e4e4;
}

.showTime
.showTime__content
.showTime__detail
.middle-content
.showTime__items-right-2
.tab-content
.tab-pane
.showTime__movie
.showTime__movie-panel
.showTime__movie-pane-bottom
.showTime__movie-pane-bottom-time
.showTime__movie-pane-bottom-time-sessions
.showTime__movie-pane-bottom-time-sessions-link
.showTime__movie-pane-bottom-time-list-sessions-link-start-end-time {
  font-size: 18px;
  font-weight: 500;
  color: #108f3e;
}

.showTime__content .flex-box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
