@import url("https://fonts.googleapis.com/css2?family=Poppins");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

/*General*/
.section {
  display: flex;
  margin: 25px 0;
}

.section__icon {
  width: 40px;
}
.section__title {
  font-family: "Staatliches", cursive;
  margin: 0 0 0 15px;
}

.showtime-shadow {
  border-radius: 8px;
  box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
}
/*Trending*/
.trending {
  background: linear-gradient( 337deg, rgba(231, 204, 249, 1) 0%, rgba(251, 160, 33, 1) 100% );
  padding: 30px 0;
  margin: 20px 0;
}

/* =========== Genre ==================== */
.btn-genre {
  color: black;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  margin: 0px 20px 16px 0px;
  background-color: #dceefc;
  padding: 10px 20px;
  border-radius: 20px;
  border: 0;

  transition: background-color 0.25s;
}
.btn-genre:hover {
  background-color: #72bdf8;
  text-decoration: none;
}

.genre__content {
  display: flex;
  justify-content: center;
  margin: 30px 0 30px 0;
}

/* =============== 2. COMPONENT: CAROUSEL ===============*/
/* =============== 3. COMPONENT: CAROUSEL ===============*/



/* =============== 4. SHOW TIME ===============*/

.grey-background {
  background-color: #f8f9fe !important;
  padding: 20px 0 100px 0;
}

